
<div class=" flex justify-center items-center h-full">
    <div class="">
        <h1 class="text-lg text-center my-14">hello <%= @space_id %></h1>
        <a class=" mx-16" href="/spaces">back</a>
    </div>
</div>